.content {
    display: none;
  }

 #web-dev{
  display: block;
 } 

 .img-container img{
  margin: 30px;
 }

 .img-container{
  display: inline;
 }

 .img-container p{
  text-align: center;
  font-size: 60px;
 }

 h1{
  text-align: center;
  font-size: 100px;
 }

 #gallery{
 }